<!-- main app container -->
<div>
    <nav>
        <a [routerLink]="['/']">Home</a>
        <a [routerLink]="['/test-page']">Test Page</a>
    </nav>
    <router-outlet></router-outlet>
</div>

<!-- credits -->
<div class="credits">
    <p>
        <a href="http://jasonwatmore.com/post/2018/05/25/angular-6-custom-modal-window-dialog-box" target="_top">Angular 6 - Custom Modal Window / Dialog Box</a>
    </p>
    <p>
        <a href="http://jasonwatmore.com" target="_top">JasonWatmore.com</a>
    </p>
</div>
